/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

/* Form Container */
.form-container {
    width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group textarea {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

.radio-group {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

/* Button Styles */
button.btn-submit {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button.btn-submit:hover {
    background-color: #218838;
}

#response {
    margin-top: 20px;
    text-align: center;
}

/* Styles for the Download Button */
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Formatting for the new HTML page */
.new-form-container {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.new-form-container h1 {
    color: #333;
}

.new-form-container p {
    font-size: 18px;
    margin-bottom: 10px;
}

.new-form-container p strong {
    color: #555;
}

.new-form-container button {
    display: block;
    margin-top: 20px;
}
